<nav class="navbar">
  <span class="navbar-brand">Lightspeed Restaurants</span>

  <button type="button" class="btn btn-outline-secondary">Add Restaurant</button>
</nav>

<div class="container-fluid">
  <div class="form-row align-items-center">
    <div class="col-auto">
      When would you like to eat?
    </div>
    <div class="col-auto">
      <div class="input-group">
        <input ngbDatepicker
               name="dp"
               class="form-control"
               placeholder="yyyy-mm-dd"
               [(ngModel)]="date"
               #datePicker="ngbDatepicker">
        <div class="input-group-append">
          <button type="button"
                  class="btn btn-outline-secondary calendar"
                  (click)="datePicker.toggle()">
          </button>
        </div>
      </div>
    </div>
    <div class="col-auto">
      <ngb-timepicker [(ngModel)]="time" [meridian]="true"></ngb-timepicker>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-primary">Search</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card mb-4">
        <div class="card-header">Kayasa Restaurant</div>
        <div class="card-body">
          <h5 class="card-title">Opening Hours</h5>
          <p class="card-text">Mon-Sun 8:30 am - 9 pm</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4">
        <div class="card-header">Kayasa Restaurant</div>
        <div class="card-body">
          <h5 class="card-title">Opening Hours</h5>
          <p class="card-text">Mon-Sun 8:30 am - 9 pm</p>
        </div>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <div class="card mb-4">
        <div class="card-header">Kayasa Restaurant</div>
        <div class="card-body">
          <h5 class="card-title">Opening Hours</h5>
          <p class="card-text">Mon-Sun 8:30 am - 9 pm</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4">
        <div class="card-header">Kayasa Restaurant</div>
        <div class="card-body">
          <h5 class="card-title">Opening Hours</h5>
          <p class="card-text">Mon-Sun 8:30 am - 9 pm</p>
        </div>
      </div>
    </div>
  </div>
</div>
